<div class="blizzard-app row">
    <!-- <header class="header page-header gradient-dark full-width"></header> -->
    <!-- <div class="container navigation"></div> -->
    <!-- <div class="container main-container"></div> -->
    <header class="col-lg-12">
    	<h1><a href="http://ramirezdev.github.io/blizzard-application" data-bypass>Blizzard Application</a></h1>
    </header>
    <div class="questions-holder col-sm-12 col-md-8 col-lg-8"></div>
    <div class="tags-holder col-sm-12 col-md-4 col-lg-4"></div>

</div>