<div class="search-holder">
	<ul>
		<li>Search Questions: <input type="text" name="topic" id="topic"></li>
			<li><input type="submit" value="Submit" id="topic-submit"></li>
   </ul>
</div>

<div class="all-tags"></div>
<div>
	<select name="sort" id="param-sort">
		<option value="activity">activity</option>
		<option value="votes" >votes</option>
		<option value="creation">creation</option>
		<option value="hot">hot</option>
		<option value="week">week</option>
		<option value="month">month</option>
	</select>
</div>
<ul class="questions-list"></ul>