<div class="search-holder">
	<label for="topic">Search:</label> <input type="text" name="topic" id="topic"> <input type="submit" value="Submit" id="topic-submit">

</div>

<div>
	<label for="param-sort">Sort:</label> <select name="sort" id="param-sort">
		<option value="activity">activity</option>
		<option value="votes" >votes</option>
		<option value="creation">creation</option>
		<option value="hot">hot</option>
		<option value="week">week</option>
		<option value="month">month</option>
	</select>
</div>
<ul class="questions-list">
	<h1>Questions: </h1>
</ul>